[BuilderBlock]
label = "Footer"
category = "Theme Blocks"
icon = "fa fa-minus"
==
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-4 text-center mb-5">
                    <a href="{{ " home"|page }}" class="me-auto">
                        <img src="{{ 'assets/img/logo_footer.jpg' | theme }}"
                             class="img-fluid w-50 object-fit-cover rounded"
                             alt=""></a>
                </div>
                <div class="col-lg-4 col-md-4 footer-contactd text-center mb-3">
                    <h4>Kontakt</h4>
                    <p>
                        <p class="mb-3"><strong>Telefon:</strong><a href="tel:723630699"> 723 630 699</a></p>
                        <p><strong>Email:</strong><a href="mailto:biuro@eja-nieruchomosci.pl"> kontakt@eja-nieruchomosci.pl</a></p>
                        <p class="fst-italic">Działamy na terenie województw:</br> świętokrzyskiego i podkarpackiego</p>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 footer-links text-center">
                    <h4>Social Media</h4>
                    <p>Tu nas znajdziesz:</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=61557781731331"
                           class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#"
                           class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        <a href="https://www.instagram.com/eja_nieruchomosci?igsh=ZTlqM2cwb3BpYXlp"
                           class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#"
                           class="twitter"><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            Copyright &copy; 2024 <strong><span>EJA Nieruchomości</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="https://studiodevs.pl/">StudioDEVS</a>
        </div>
    </div>
</footer><!-- End Footer -->