[BuilderBlock]
label = "Footer"
category = "Theme Blocks"
icon = "fa fa-minus"
==
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 mb-5">
                    <p class="mb-3"><strong>Ochotnicza Straż Pożarna w Chańczy</strong></p>
                    <p><strong><i class="fa-solid fa-house"></i></strong> Chańcza 59a, 26-035 Raków</p>
                    <p><strong><i class="fa-solid fa-envelope"></i></strong> <a href="mailto:strazchancza@gmail.com">strazchancza@gmail.com</a></p>
                    <p><strong><i class="fa-solid fa-phone"></i></strong> 112, 997</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=100095500005075"
                           class="facebook"
                           target="_blank"><i class="bx bxl-facebook"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 footer-contactd mb-3">
                    <p>
                    <p><strong>KRS: </strong>0000212983</p>
                    <p><strong>REGON: </strong>292397465</p>
                    <p><strong>NIP: </strong>657-252-22-34</p>
                    <p><strong>Rachunek bankowy:</strong></br>Bank Spółdzielczy w Szydłowie O/Raków </br> 05 8521 1016 2001 0004 7177 0001</p>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 footer-links text-center">
                    <a href="{{ "home"|page }}" class="me-auto">
                        <img src="{{ 'assets/images/logo_footer.jpg' | theme }}" class="img-fluid w-50 object-fit-cover rounded mb-5" alt=""></a>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            Copyright &copy; 2024 <strong><span>OSP Chańcza</span></strong>
        </div>
        <div class="credits">
            Projekt: <a href="https://studiodevs.pl/">StudioDEVS</a>
        </div>
    </div>
</footer><!-- End Footer -->