[BuilderBlock]
label = "Footer"
category = "Theme Blocks"
icon = "fa fa-minus"
==
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-4 text-center mb-5">
                    <a href="{{ "
                       home"|page
                       }}"
                       class="me-auto">
                        <img src="{{ 'assets/images/logo_footer.jpg' | theme }}"
                             class="img-fluid w-50 object-fit-cover rounded"
                             alt=""></a>
                </div>
                <div class="col-lg-4 col-md-4 footer-contactd text-center mb-3">
                    <h4>Kontakt</h4>
                    <p>
                    <p class="mb-3"><strong>Telefon:</strong><a href="tel:">353 50</a></p>
                    <p><strong>Email:</strong><a href="mailto:strazchancza@gmail.com">
                            strazchancza@gmail.com</a></p>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 footer-links text-center">
                    <h4>Social Media</h4>
                    <p>Zobacz nas na Facebook:</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=100095500005075"
                           class="facebook"
                           target="_blank"><i class="bx bxl-facebook"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            Copyright &copy; 2024 <strong><span>OSP Chańcza</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="https://studiodevs.pl/">StudioDEVS</a>
        </div>
    </div>
</footer><!-- End Footer -->