[BuilderBlock]
label = "Header"
category = "Theme Blocks"
icon = "fa fa-window-maximize"
==
<!-- ======= Header ======= -->
<header id="header"
        class="fixed-top ">
    <div class="container d-flex align-items-center">
    <p class="logo me-auto fst-italic motto">"Bogu na chwałę, ludziom na pożytek"</p>
        <a href="{{ "home"|page }}" class="logo me-auto"><img src="{{ 'assets/images/theme-logo.png' | theme }}"
                 class="img-fluid"
                 alt=""></a>

        <nav id="navbar"
             class="navbar">
            <ul>
                <li><a class="nav-link scrollto"
                       href="{{'about'|page}}">O nas</a></li>
                <li class="dropdown"><a href="#"><span>Aktualności</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Informacje</a></li>
                    <li><a href="{{'project'|page}}">Projekt unijny</a></li>
                  </ul>
                </li> 
                <li><a class="nav-link scrollto"
                       href="{{'history'|page}}">Historia</a></li>
                <li><a class="nav-link scrollto"
                       href="#">Galeria</a></li>
                <li><a class="nav-link scrollto"
                       href="#">Kontakt</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->